{% extends "base.html" %}

{% block content %}
<div> 
    <h1>Wedding Diary</h1>
    <h2>Oct 22</h2>
    <p> Got engaged on holiday in lanzerote!</p>
    <h2>Oct 22</h2>
    <p>Went to wedding fair and ordered the 'Cake'</p>
    <h2> Nov 22</h2>
    <p> Went dress shopping with my mum, sis and best friend at reeta's in Glasgow. After trying on about 20 dresses all picked by others,
        I said yes to the dress! Only one I'd picked! </p>
    <h2>Nov 22</h2>
    <p>Booked the venue, Piersland Troon is where the party is at!</p>
    <h2>Nov 22</h2>
    <p>Booked the Hairdresser and Make up artist, priorities and all that</p>
</div>

{% endblock %}